#u5324
{
	background-color: transparent;
}

#u5369-3
{
	-pie-box-shadow: 0px 5px 6px #E5E5E5;
	box-shadow: 0px 5px 6px rgba(0,0,0,0.1);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#accordionu5323,#u5325
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#menuu5326
{
	border-style: none;
	border-color: transparent;
	background-color: #4C4C4C;
	background-color: rgba(0,0,0,0.7);
	position: relative;
	-pie-background: rgba(0,0,0,0.7);
}

#u5363
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5363:hover
{
	background-color: #333333;
}

#u5365-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	line-height: 14px;
	font-family: dosis, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5342
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5342:hover
{
	background-color: #333333;
}

#u5345-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	line-height: 14px;
	font-family: dosis, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5351
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5351:hover
{
	background-color: #333333;
}

#u5352-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	line-height: 14px;
	font-family: dosis, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5328
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5328:hover
{
	background-color: #333333;
}

#u5329-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	line-height: 14px;
	font-family: dosis, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5358
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5358:hover
{
	background-color: #333333;
}

#u5361-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	line-height: 14px;
	font-family: dosis, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5362,#u5341,#u5348,#u5327,#u5355,#u5334
{
	background-color: transparent;
	position: relative;
}

#u5337
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5337:hover
{
	background-color: #333333;
}

#u5363.MuseMenuActive,#u5342.MuseMenuActive,#u5351.MuseMenuActive,#u5328.MuseMenuActive,#u5358.MuseMenuActive,#u5337.MuseMenuActive
{
	background-color: #ED1C24;
}

#u5340-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	line-height: 14px;
	font-family: dosis, sans-serif;
	font-weight: 700;
	position: relative;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u5373-3
{
	color: #29ABE2;
	font-size: 36px;
	line-height: 43px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: fixed;
	background: transparent url("../../images/logo.png") no-repeat left center;
	background-size: cover;
}

#u5370
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #222222;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: fixed;
}

#u10944
{
	background-color: #E7E7E7;
}

#u10959-3
{
	color: #29ABE2;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	background: transparent url("../../images/logo.png") no-repeat center center;
}

#u10958-4
{
	background-color: transparent;
	text-align: center;
	color: #666666;
	letter-spacing: 0px;
	font-family: dosis, sans-serif;
	font-weight: 600;
	position: relative;
}

#u10950,#u10946,#u10948,#u10956,#u10952,#u10954
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #222222;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	position: relative;
}

#u10943
{
	background-color: #222222;
}

#u10945-7
{
	background-color: transparent;
	color: #666666;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10945-2
{
	color: #ED1C24;
}

#u10945,#u10945-4
{
	color: #CCCCCC;
}

