@font-face {
    font-family: 'Days';
    src: local('Days'), url('days.woff2') format('woff2'), url('days.woff') format('woff'), url('days.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
